# Ignore Python junk
__pycache__/
*.pyc
*.pyo

# Ignore environment files
.env
*.log

# Ignore Python virtual environments
venv/
ENV/
env/
.venv/

# Ignore uploads & debug files
uploads/
debug/

# Ignore frontend
frontend/
node_modules/
dist/
build/
